# Co-visitation Analysis for Foot Traffic - DDS Workbook

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importing-Packages-and-Datafiles" data-toc-modified-id="Importing-Packages-and-Datafiles-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importing Packages and Datafiles</a></span></li><li><span><a href="#Data-Transformation-to-Get-All-Data" data-toc-modified-id="Data-Transformation-to-Get-All-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Transformation to Get All Data</a></span><ul class="toc-item"><li><span><a href="#Create-Subsets" data-toc-modified-id="Create-Subsets-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create Subsets</a></span><ul class="toc-item"><li><span><a href="#create-a-new-dataframe-counts_by_dealer-with-dealership-ID-and-its-visits-count" data-toc-modified-id="create-a-new-dataframe-counts_by_dealer-with-dealership-ID-and-its-visits-count-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>create a new dataframe counts_by_dealer with dealership ID and its visits count</a></span></li><li><span><a href="#join-table-counts_by_dealer-with-table-Dim_Dealer" data-toc-modified-id="join-table-counts_by_dealer-with-table-Dim_Dealer-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>join table counts_by_dealer with table Dim_Dealer</a></span></li><li><span><a href="#check-null-value-in-dealership-count" data-toc-modified-id="check-null-value-in-dealership-count-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>check null value in dealership count</a></span></li><li><span><a href="#create-a-new-table-Lead_simple-with-LeadId-as-Index" data-toc-modified-id="create-a-new-table-Lead_simple-with-LeadId-as-Index-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>create a new table Lead_simple with LeadId as Index</a></span></li><li><span><a href="#create-a-new-table-visitor_agg-with-visitor-Id-and-count-of-visits" data-toc-modified-id="create-a-new-table-visitor_agg-with-visitor-Id-and-count-of-visits-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>create a new table visitor_agg with visitor Id and count of visits</a></span></li></ul></li><li><span><a href="#Export-all-data" data-toc-modified-id="Export-all-data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Export all data</a></span></li></ul></li><li><span><a href="#Co-visitation-Analysis" data-toc-modified-id="Co-visitation-Analysis-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Co-visitation Analysis</a></span><ul class="toc-item"><li><span><a href="#Fetch-Data" data-toc-modified-id="Fetch-Data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Fetch Data</a></span><ul class="toc-item"><li><span><a href="#pull-out-count-of-visits-by-city" data-toc-modified-id="pull-out-count-of-visits-by-city-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>pull out count of visits by city</a></span></li><li><span><a href="#Set-City" data-toc-modified-id="Set-City-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Set City</a></span></li></ul></li><li><span><a href="#Co-visitation-on-dealer-level" data-toc-modified-id="Co-visitation-on-dealer-level-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Co-visitation on dealer level</a></span><ul class="toc-item"><li><span><a href="#Use-For-Loop-to-calculate-covisitation-by-DealerId" data-toc-modified-id="Use-For-Loop-to-calculate-covisitation-by-DealerId-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Use For Loop to calculate covisitation by DealerId</a></span></li><li><span><a href="#Export-to-CSV-file" data-toc-modified-id="Export-to-CSV-file-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Export to CSV file</a></span></li></ul></li><li><span><a href="#Co-visitation-on-OEM-level" data-toc-modified-id="Co-visitation-on-OEM-level-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Co-visitation on OEM level</a></span><ul class="toc-item"><li><span><a href="#Data-Transformation" data-toc-modified-id="Data-Transformation-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Data Transformation</a></span><ul class="toc-item"><li><span><a href="#Create-a-subset-of-the-data" data-toc-modified-id="Create-a-subset-of-the-data-3.3.1.1"><span class="toc-item-num">3.3.1.1&nbsp;&nbsp;</span>Create a subset of the data</a></span></li><li><span><a href="#Create-new-column-for-CarMax,-Tesla,-Maserati" data-toc-modified-id="Create-new-column-for-CarMax,-Tesla,-Maserati-3.3.1.2"><span class="toc-item-num">3.3.1.2&nbsp;&nbsp;</span>Create new column for CarMax, Tesla, Maserati</a></span></li></ul></li><li><span><a href="#Co-visitation-for-brand" data-toc-modified-id="Co-visitation-for-brand-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Co visitation for brand</a></span><ul class="toc-item"><li><span><a href="#Use-For-Loop-to-calculate-covisitation-by-DealerId" data-toc-modified-id="Use-For-Loop-to-calculate-covisitation-by-DealerId-3.3.2.1"><span class="toc-item-num">3.3.2.1&nbsp;&nbsp;</span>Use For Loop to calculate covisitation by DealerId</a></span></li></ul></li><li><span><a href="#Export-to-csv" data-toc-modified-id="Export-to-csv-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Export to csv</a></span></li></ul></li><li><span><a href="#Lead-Type-Analysis" data-toc-modified-id="Lead-Type-Analysis-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Lead Type Analysis</a></span><ul class="toc-item"><li><span><a href="#Create-new-table-customer_type-contains-unique-leadid-and-the-visiting-brand" data-toc-modified-id="Create-new-table-customer_type-contains-unique-leadid-and-the-visiting-brand-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Create new table customer_type contains unique leadid and the visiting brand</a></span></li><li><span><a href="#Load-Dataset" data-toc-modified-id="Load-Dataset-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>Load Dataset</a></span></li><li><span><a href="#Join-customer_type-and-DimLead_part-to-create-a-new-table-lead_type" data-toc-modified-id="Join-customer_type-and-DimLead_part-to-create-a-new-table-lead_type-3.4.3"><span class="toc-item-num">3.4.3&nbsp;&nbsp;</span>Join customer_type and DimLead_part to create a new table lead_type</a></span></li><li><span><a href="#Create-owned_brands-list-that-are-not-null-in-owned_brand-list" data-toc-modified-id="Create-owned_brands-list-that-are-not-null-in-owned_brand-list-3.4.4"><span class="toc-item-num">3.4.4&nbsp;&nbsp;</span>Create owned_brands list that are not null in owned_brand list</a></span></li><li><span><a href="#Assign-owned_brands-list-to-owned_brand-column-in-lead_type" data-toc-modified-id="Assign-owned_brands-list-to-owned_brand-column-in-lead_type-3.4.5"><span class="toc-item-num">3.4.5&nbsp;&nbsp;</span>Assign owned_brands list to owned_brand column in lead_type</a></span></li><li><span><a href="#Check-null-value" data-toc-modified-id="Check-null-value-3.4.6"><span class="toc-item-num">3.4.6&nbsp;&nbsp;</span>Check null value</a></span></li><li><span><a href="#Use-For-loop-to-create-logic-to-assign-Defector/Loyalist/Conquest/Non-shopper" data-toc-modified-id="Use-For-loop-to-create-logic-to-assign-Defector/Loyalist/Conquest/Non-shopper-3.4.7"><span class="toc-item-num">3.4.7&nbsp;&nbsp;</span>Use For loop to create logic to assign Defector/Loyalist/Conquest/Non-shopper</a></span></li><li><span><a href="#Export-lead_type-csv" data-toc-modified-id="Export-lead_type-csv-3.4.8"><span class="toc-item-num">3.4.8&nbsp;&nbsp;</span>Export lead_type csv</a></span></li></ul></li></ul></li></ul></div>

## Importing Packages and Datafiles

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# Load FactVisits_2City csv
factvisits = pd.read_csv("FacVisits_2city_2.csv")

In [6]:
# Load DimLead_visiotr_2city csv
Dim_Lead = pd.read_csv("DimLead_visiotr_2city.csv")

/Users/Jessica/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (18,38,79,91,96,97,233,234,298,303,304) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
# Load DimDealer_2city csv
Dim_Dealer = pd.read_csv("DimDealer_2city.csv")

In [8]:
#Get a sense of the dataset
Dim_Dealer.head()

,Unnamed: 0,DealerId,DealerName,Polygon Name,Address,City,State,Zip,Lat,Lng,...,Lotus,Maserati,Rolls Royce,Smart Cars,Tesla,PopulationDensityType,AlternateCategory1,AlternateCategory2,AlternateCategory3,AlternateCategory4
0,0,1722781,Carmax Tampa(TAM),"CarMax 7105 - Tampa(TAM), Tampa, FL",14920 Nebraska Avenue,Tampa,FL,33613,28.085544,-82.452612,...,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN
1,1,1722886,CarMax 11011 W Metro Auto Mall Milwaukee,"CarMax, 11011 W Metro Auto Mall, Milwaukee, WI",11011 West Metro Blvd,Milwaukee,WI,53224,43.143111,-88.050223,...,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN
2,2,2220942,Tesla Tampa,"Tesla Tampa, Tampa, FL",1907 N U.S. Highway 301 Suite 170,Tampa,FL,33619,27.961792,-82.358732,...,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN
3,3,4219663,Maserati Of Tampa,"Maserati Of Tampa, Tampa, FL",11333 North Florida Ave.,Tampa,FL,33612,28.053106,-82.459041,...,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN
4,4,5898233,Jerry Ulm Dodge Chrysler Jeep,Fiat Chrysler Automobiles 43654 - Jerry Ulm Do...,2966 N Dale Mabry Hwy,Tampa,FL,33607-2415,27.966091,-82.506459,...,NaN,NaN,NaN,NaN,NaN,S,Dodge,Jeep,NaN,NaN

## Data Transformation to Get All Data

### Create Subsets

#### create a new dataframe counts_by_dealer with dealership ID and its visits count

In [9]:
counts_by_dealer_t = factvisits.groupby("DealerId")["DealerId","LeadId"].count()

In [10]:
counts_by_dealer_t["count"] = counts_by_dealer_t["DealerId"]

In [11]:
counts_by_dealer_t["DealerId"] = counts_by_dealer_t.index

In [12]:
counts_by_dealer = counts_by_dealer_t.drop("LeadId",axis = 1)

In [13]:
counts_by_dealer = counts_by_dealer.sort_values(by=['count'],ascending=False)

In [14]:
counts_by_dealer.head()

          DealerId  count
DealerId
5904852    5904852  11980
5898233    5898233  10512
1722781    1722781  10476
5904883    5904883   9705
6043686    6043686   9533

#### join table counts_by_dealer with table Dim_Dealer

In [15]:
dealer_performance = counts_by_dealer.join(Dim_Dealer,on="DealerId",how="right",rsuffix="_d")

In [16]:
dealer_performance.sort_values(by = "count",ascending=False).head()

,DealerId,count,Unnamed: 0,DealerId_d,DealerName,Polygon Name,Address,City,State,Zip,...,Lotus,Maserati,Rolls Royce,Smart Cars,Tesla,PopulationDensityType,AlternateCategory1,AlternateCategory2,AlternateCategory3,AlternateCategory4
DealerId,,,,,,,,,,,,,,,,,,,,,
5916117,0,NaN,0,1722781,Carmax Tampa(TAM),"CarMax 7105 - Tampa(TAM), Tampa, FL",14920 Nebraska Avenue,Tampa,FL,33613,...,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN
5916117,1,NaN,1,1722886,CarMax 11011 W Metro Auto Mall Milwaukee,"CarMax, 11011 W Metro Auto Mall, Milwaukee, WI",11011 West Metro Blvd,Milwaukee,WI,53224,...,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN
5916117,2,NaN,2,2220942,Tesla Tampa,"Tesla Tampa, Tampa, FL",1907 N U.S. Highway 301 Suite 170,Tampa,FL,33619,...,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN
5916117,3,NaN,3,4219663,Maserati Of Tampa,"Maserati Of Tampa, Tampa, FL",11333 North Florida Ave.,Tampa,FL,33612,...,NaN,NaN,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN
5916117,4,NaN,4,5898233,Jerry Ulm Dodge Chrysler Jeep,Fiat Chrysler Automobiles 43654 - Jerry Ulm Do...,2966 N Dale Mabry Hwy,Tampa,FL,33607-2415,...,NaN,NaN,NaN,NaN,NaN,S,Dodge,Jeep,NaN,NaN

#### check null value in dealership count

In [17]:
dealer_performance["count"].isnull().sum()

77

In [18]:
Dim_Lead.columns

Index(['Unnamed: 0', 'LeadId', 'MobileHashtag', 'Latitude', 'Longitude',
       'AddressLatitude', 'AddressLongitude', 'AddressLine1', 'City',
       'Country',
       ...
       'Fourth Auto Mileage.1', 'Fourth Auto Last Verified Date.1',
       'IP Address.1', 'Region.1', 'IP City.1', 'IP Zip.1',
       'Internet Provider.1', 'IP From.1', 'IP To.1', 'MailableStatus'],
      dtype='object', length=446)

#### create a new table Lead_simple with LeadId as Index

In [19]:
Lead_simple = Dim_Lead[['LeadId','VisitorId']].set_index('LeadId')

In [20]:
factvisits = factvisits.set_index('LeadId')

In [21]:
Lead_simple.head()

        VisitorId
LeadId
816       5297747
2345       699580
6750      2848049
7613      6192321
7622      6192322

#### create a new table visitor_agg with visitor Id and count of visits

In [22]:
shopping_visitor = Lead_simple.join(factvisits,rsuffix="_d")

In [23]:
visitor_agg_1 = shopping_visitor.groupby("VisitorId")["VisitorId","CustomerId"].count()

In [24]:
visitor_agg_1["count"] = visitor_agg_1["VisitorId"]

In [25]:
visitor_agg_1["VisitorId"] = visitor_agg_1.index

In [26]:
visitor_agg_1.columns

Index(['VisitorId', 'CustomerId', 'count'], dtype='object')

In [27]:
visitor_agg = visitor_agg_1[['VisitorId','count']]

In [28]:
visitor_agg.head()

           VisitorId  count
VisitorId
81283          81283      1
81284          81284      1
81935          81935      7
84087          84087      1
84088          84088      1

In [32]:
## all_data = Dim_Dealer.merge(factvisits,suffixes=('_l', '_r'),on=("DealerId")).merge(Dim_Lead,on=("LeadId"),suffixes=('_l', '_r'))

### Export all data

In [33]:
## all_data.to_csv("all_data.csv")

## Co-visitation Analysis

### Fetch Data

In [35]:
all_data = pd.read_csv("all_data.csv")

/Users/Jessica/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,65,66,94,96,114,128,129,130,155,167,171,172,173,189,190,192,193,196,197,198,199,229,230,240,241,242,243,254,255,256,257,258,259,260,262,265,266,268,269,270,271,272,274,275,277,278,279,280,281,283,284,286,287,288,289,290,292,293,295,296,297,298,299,309,310,335,365,374,378,379,380,450,451,452,453,472,473,474,494,505,506,508,509,510,511,512,521) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
all_data.columns

Index(['Unnamed: 0', 'Unnamed: 0_l', 'DealerId', 'DealerName', 'Polygon Name',
       'Address', 'City_l', 'State', 'Zip', 'Lat',
       ...
       'Fourth Auto Mileage.1', 'Fourth Auto Last Verified Date.1',
       'IP Address.1', 'Region.1', 'IP City.1', 'IP Zip.1',
       'Internet Provider.1', 'IP From.1', 'IP To.1', 'MailableStatus'],
      dtype='object', length=522)

#### pull out count of visits by city

In [37]:
visits_per_lead_p = all_data[["DealerId","LeadId","DateId","City_l"]].drop_duplicates()

In [38]:
all_data["City_l"].value_counts()

Tampa        65792
Milwaukee    23119
MILWAUKEE     4340
TAMPA         3887
Name: City_l, dtype: int64

#### Set City

In [39]:
city = "tampa"

In [41]:
visits_per_lead = visits_per_lead_p[visits_per_lead_p["City_l"].str.lower() == city]

In [42]:
type(visits_per_lead)

pandas.core.frame.DataFrame

In [43]:
cross_visit = pd.pivot_table(visits_per_lead,values='DateId', index=['LeadId'],columns=['DealerId'], aggfunc='count')

In [44]:
cross_visit.head()

DealerId,1722781,2220942,4219663,5898233,5898628,5899139,5901137,5901143,5902011,5902012,...,6070090,6070091,6072752,6101127,6101128,6101129,6101130,6101131,6101132,6151734
LeadId,,,,,,,,,,,,,,,,,,,,,
816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
6750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7613,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,8.0,NaN,NaN,NaN,NaN,2.0
7622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Co-visitation on dealer level

#### Use For Loop to calculate covisitation by DealerId

In [45]:
dealerlist = cross_visit.columns

In [46]:
brandlist = dealerlist

In [47]:
b = []
for brand1 in brandlist:
    a = []
    for brand2 in brandlist:
        try:
            value = len(cross_visit[(cross_visit[brand1] > 0) & (cross_visit[brand2] > 0)])/len(cross_visit[cross_visit[brand1] > 0])
            value = round(value,3)
        except:
            value = np.nan
        a.append(value)
    b.append(a)

In [48]:
cross_visitation_dealer = pd.DataFrame.from_records(b, columns=brandlist)

In [49]:
cross_visitation_dealer.index = brandlist

In [51]:
cross_visitation_dealer.head()

DealerId,1722781,2220942,4219663,5898233,5898628,5899139,5901137,5901143,5902011,5902012,...,6070090,6070091,6072752,6101127,6101128,6101129,6101130,6101131,6101132,6151734
DealerId,,,,,,,,,,,,,,,,,,,,,
1722781,1.000,0.000,0.003,0.046,0.011,0.034,0.023,0.005,0.011,0.008,...,0.024,0.039,0.023,0.017,0.062,0.022,0.028,0.024,0.012,0.065
2220942,0.000,1.000,0.000,0.083,0.042,0.042,0.083,0.042,0.000,0.042,...,0.125,0.000,0.000,0.000,0.000,0.083,0.000,0.000,0.000,0.083
4219663,0.048,0.000,1.000,0.016,0.016,0.161,0.032,0.000,0.016,0.000,...,0.016,0.113,0.177,0.016,0.113,0.000,0.016,0.274,0.000,0.242
5898233,0.061,0.003,0.001,1.000,0.031,0.029,0.072,0.015,0.047,0.011,...,0.029,0.037,0.019,0.055,0.046,0.032,0.033,0.022,0.018,0.043
5898628,0.022,0.002,0.002,0.045,1.000,0.024,0.045,0.066,0.011,0.103,...,0.116,0.021,0.015,0.013,0.021,0.169,0.009,0.015,0.081,0.026

#### Export to CSV file

In [17]:
cross_visitation_dealer.to_csv("cross_visitation_dealer_tampa.csv")

### Co-visitation on OEM level

#### Data Transformation
##### Create a subset of the data

In [52]:
all_data_part_l = all_data[["DealerId","LeadId","DateId",'Key Category','City_l','Acura','Audi','BMW','Buick','Cadillac','Chevrolet','Chrysler'\
                         ,'Dodge','FIAT','Ford','GMC','Honda','Hyundai','Inifiniti','Jaguar','Jeep','Kia','Lamborghini',\
                         'Land Rover','Lexus','Lincoln','Mazda','Mercedes-Benz','MINI','Mitsubishi','Nissan','Porsche',\
                         'Scion','Subaru','Toyota','Volkswagen','Volvo',"Auto Make","Second Auto Make","Third Auto Make","Fourth Auto Make"]]

In [53]:
all_data_part = all_data_part_l[all_data_part_l["City_l"].str.lower() == city]

In [54]:
all_data_part.head()

,DealerId,LeadId,DateId,Key Category,City_l,Acura,Audi,BMW,Buick,Cadillac,...,Porsche,Scion,Subaru,Toyota,Volkswagen,Volvo,Auto Make,Second Auto Make,Third Auto Make,Fourth Auto Make
0,1722781,31400,20170102,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,1722781,31400,20170103,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,1722781,31400,20170104,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,1722781,31400,20170106,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1722781,31400,20170109,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

##### Create new column for CarMax, Tesla, Maserati

In [55]:
all_data_part.loc[all_data_part['Key Category'] == 'CarMax', 'CarMax'] = 1
all_data_part.loc[all_data_part['Key Category'] != 'CarMax', 'CarMax'] = 0

/Users/Jessica/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/Jessica/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [56]:
all_data_part.loc[all_data_part['Key Category'] == 'Tesla', 'Tesla'] = 1
all_data_part.loc[all_data_part['Key Category'] != 'Tesla', 'Tesla'] = 0

/Users/Jessica/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/Jessica/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [57]:
all_data_part.loc[all_data_part['Key Category'] == 'Maserati', 'Maserati'] = 1
all_data_part.loc[all_data_part['Key Category'] != 'Maserati', 'Maserati'] = 0

/Users/Jessica/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/Jessica/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [61]:
all_data_part.head()

,DealerId,LeadId,DateId,Key Category,City_l,Acura,Audi,BMW,Buick,Cadillac,...,Toyota,Volkswagen,Volvo,Auto Make,Second Auto Make,Third Auto Make,Fourth Auto Make,CarMax,Tesla,Maserati
0,1722781,31400,20170102,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
1,1722781,31400,20170103,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
2,1722781,31400,20170104,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
3,1722781,31400,20170106,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
4,1722781,31400,20170109,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0

In [58]:
visit_with_brand = all_data_part.drop_duplicates(subset=["DealerId","LeadId","DateId"])

In [59]:
visit_with_brand.head()

,DealerId,LeadId,DateId,Key Category,City_l,Acura,Audi,BMW,Buick,Cadillac,...,Toyota,Volkswagen,Volvo,Auto Make,Second Auto Make,Third Auto Make,Fourth Auto Make,CarMax,Tesla,Maserati
0,1722781,31400,20170102,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
1,1722781,31400,20170103,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
2,1722781,31400,20170104,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
3,1722781,31400,20170106,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0
4,1722781,31400,20170109,CarMax,Tampa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0

In [60]:
visit_with_brand.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39348 entries, 0 to 96902
Data columns (total 44 columns):
DealerId            39348 non-null int64
LeadId              39348 non-null int64
DateId              39348 non-null int64
Key Category        39348 non-null object
City_l              39348 non-null object
Acura               39348 non-null float64
Audi                39348 non-null float64
BMW                 39348 non-null float64
Buick               39348 non-null float64
Cadillac            39348 non-null float64
Chevrolet           39348 non-null float64
Chrysler            39348 non-null float64
Dodge               39348 non-null float64
FIAT                39348 non-null float64
Ford                39348 non-null float64
GMC                 39348 non-null float64
Honda               39348 non-null float64
Hyundai             39348 non-null float64
Inifiniti           39348 non-null float64
Jaguar              39348 non-null float64
Jeep                39348 non-null float64
Kia                 39348 non-null float64
Lamborghini         39348 non-null float64
Land Rover          39348 non-null float64
Lexus               39348 non-null float64
Lincoln             39348 non-null float64
Mazda               39348 non-null float64
Mercedes-Benz       39348 non-null float64
MINI                39348 non-null float64
Mitsubishi          39348 non-null float64
Nissan              39348 non-null float64
Porsche             39348 non-null float64
Scion               39348 non-null float64
Subaru              39348 non-null float64
Toyota              39348 non-null float64
Volkswagen          39348 non-null float64
Volvo               39348 non-null float64
Auto Make           12213 non-null object
Second Auto Make    7472 non-null object
Third Auto Make     4039 non-null object
Fourth Auto Make    2026 non-null object
CarMax              39348 non-null float64
Tesla               39348 non-null float64
Maserati            39348 non-null float64
dtypes: float64(35), int64(3), object(6)
memory usage: 13.5+ MB

In [62]:
cross_visit_brand = visit_with_brand.groupby(["LeadId"])["LeadId",'Acura','Audi','BMW','Buick','Cadillac','Chevrolet','Chrysler'\
                         ,'Dodge','FIAT','Ford','GMC','Honda','Hyundai','Inifiniti','Jaguar','Jeep','Kia','Lamborghini',\
                         'Land Rover','Lexus','Lincoln','Mazda','Mercedes-Benz','MINI','Mitsubishi','Nissan','Porsche',\
                         'Scion','Subaru','Toyota','Volkswagen','Volvo','CarMax','Tesla','Maserati'].sum()

In [63]:
cross_visit_brand.head()

,LeadId,Acura,Audi,BMW,Buick,Cadillac,Chevrolet,Chrysler,Dodge,FIAT,...,Nissan,Porsche,Scion,Subaru,Toyota,Volkswagen,Volvo,CarMax,Tesla,Maserati
LeadId,,,,,,,,,,,,,,,,,,,,,
816,7344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2345,7035,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6750,20250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
7613,738461,7.0,0.0,2.0,0.0,8.0,0.0,6.0,6.0,0.0,...,61.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
7622,7622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Co visitation for brand

##### Use For Loop to calculate covisitation by DealerId

In [64]:
brandlist = ['Acura','Audi','BMW','Buick','Cadillac','Chevrolet','Chrysler'\
                         ,'Dodge','FIAT','Ford','GMC','Honda','Hyundai','Inifiniti','Jaguar','Jeep','Kia','Lamborghini',\
                         'Land Rover','Lexus','Lincoln','Mazda','Mercedes-Benz','MINI','Mitsubishi','Nissan','Porsche',\
                         'Scion','Subaru','Toyota','Volkswagen','Volvo','CarMax','Tesla','Maserati']

In [65]:
b = []
for brand1 in brandlist:
    a = []
    for brand2 in brandlist:
        try:
            value = len(cross_visit_brand[(cross_visit_brand[brand1] != 0) & (cross_visit_brand[brand2] != 0)])/len(cross_visit_brand[cross_visit_brand[brand1] != 0])
            value = round(value,3)
        except:
            value = np.nan
        a.append(value)
    b.append(a)

In [66]:
df = pd.DataFrame.from_records(b, columns=brandlist)

In [67]:
df.index = brandlist

In [68]:
df.head()

,Acura,Audi,BMW,Buick,Cadillac,Chevrolet,Chrysler,Dodge,FIAT,Ford,...,Nissan,Porsche,Scion,Subaru,Toyota,Volkswagen,Volvo,CarMax,Tesla,Maserati
Acura,1.000,0.132,0.240,0.039,0.124,0.209,0.194,0.194,0.0,0.194,...,0.163,0.078,0.194,0.225,0.194,0.054,0.047,0.147,0.000,0.054
Audi,0.109,1.000,0.346,0.032,0.109,0.141,0.167,0.167,0.0,0.122,...,0.122,0.160,0.128,0.154,0.128,0.051,0.032,0.115,0.006,0.083
BMW,0.068,0.119,1.000,0.064,0.119,0.148,0.161,0.161,0.0,0.139,...,0.088,0.038,0.168,0.110,0.168,0.044,0.022,0.150,0.004,0.033
Buick,0.009,0.009,0.053,1.000,0.039,0.189,0.211,0.211,0.0,0.182,...,0.131,0.004,0.215,0.090,0.215,0.097,0.028,0.055,0.000,0.002
Cadillac,0.032,0.034,0.107,0.042,1.000,0.109,0.158,0.158,0.0,0.144,...,0.075,0.016,0.247,0.079,0.247,0.022,0.024,0.128,0.000,0.014

#### Export to csv

In [69]:
# df.to_csv("Cross_Visitation_brand_tampa.csv")

### Lead Type Analysis

#### Create new table customer_type contains unique leadid and the visiting brand

In [70]:
#https://stackoverflow.com/questions/42904255/list-column-names-that-are-null-empty-for-a-dataframe-in-each-row
customer_type = pd.DataFrame(cross_visit_brand.drop("LeadId",axis=1).apply(
    lambda x: ','.join(x[x!=0].index).upper().split(","),axis=1),columns=["Visiting Brand"])

In [71]:
customer_type.head()

                                           Visiting Brand
LeadId
816                                                [FORD]
2345                              [CHEVROLET, HONDA, KIA]
6750                                             [SUBARU]
7613    [ACURA, BMW, CADILLAC, CHRYSLER, DODGE, HONDA,...
7622                                            [PORSCHE]

#### Load Dataset

In [72]:
DimLead = pd.read_csv("DimLead_2city_2.csv")

/Users/Jessica/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (10,18,19,20,21,22,24,38,53,54,79,86,91,92,95,96,97,113,114,116,117,122,123,165,166,183,189,190,192,193,194,195,196,198,199,201,202,203,204,205,207,208,210,211,212,213,214,216,217,219,220,221,222,223,233,234,235,236,238,255,256,257,258,259) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
DimLead_part = DimLead[["LeadId","Auto Make","Second Auto Make","Third Auto Make","Fourth Auto Make"]].set_index('LeadId')

#### Join customer_type and DimLead_part to create a new table lead_type

In [74]:
lead_type = customer_type.join(DimLead_part,rsuffix="_d")

In [75]:
owned_brand = lead_type[["Auto Make","Second Auto Make","Third Auto Make","Fourth Auto Make"]].values.tolist()

#### Create owned_brands list that are not null in owned_brand list

In [76]:
owned_brands = [list(set(x)-set([np.nan])) for x in owned_brand]

#### Assign owned_brands list to owned_brand column in lead_type

In [77]:
lead_type["owned_brand"] = owned_brands

#### Check null value

In [78]:
lead_type["Visiting Brand"].isnull().sum()

0

In [79]:
lead_type.head()

,Visiting Brand,Auto Make,Second Auto Make,Third Auto Make,Fourth Auto Make,owned_brand
LeadId,,,,,,
816,[FORD],NaN,NaN,NaN,NaN,[]
2345,"[CHEVROLET, HONDA, KIA]",NaN,NaN,NaN,NaN,[]
6750,[SUBARU],NaN,NaN,NaN,NaN,[]
7613,"[ACURA, BMW, CADILLAC, CHRYSLER, DODGE, HONDA,...",NaN,NaN,NaN,NaN,[]
7622,[PORSCHE],NaN,NaN,NaN,NaN,[]

#### Use For loop to create logic to assign Defector/Loyalist/Conquest/Non-shopper

In [45]:
def leadtype(row):
    brand_u = brand.upper()
    if brand.upper() in row["owned_brand"]:
        if len(list(set(row["Visiting Brand"]) - set([brand.upper()]))) > 0 :
            val = "Defector"
        else:
            val = "Loyalist"
    else:
        if brand_u in row["Visiting Brand"]:
            val = "Conquest"
        else:
            val = "Non-shopper"
    return val

In [46]:
brandlist = ['Acura','Audi','BMW','Buick','Cadillac','Chevrolet','Chrysler'\
                         ,'Dodge','FIAT','Ford','GMC','Honda','Hyundai','Inifiniti','Jaguar','Jeep','Kia','Lamborghini',\
                         'Land Rover','Lexus','Lincoln','Mazda','Mercedes-Benz','MINI','Mitsubishi','Nissan','Porsche',\
                         'Scion','Subaru','Toyota','Volkswagen','Volvo','CarMax','Tesla','Maserati']

In [47]:
for brand in brandlist:
    lead_type[brand] = lead_type.apply(leadtype,axis=1)

In [48]:
lead_type["LeadId"] = lead_type.index

#### Export lead_type csv

In [49]:
lead_type.to_csv("lead_type_tampa.csv")

In [50]:
lead_type.head()

,Visiting Brand,Auto Make,Second Auto Make,Third Auto Make,Fourth Auto Make,owned_brand,Acura,Audi,BMW,Buick,...,Porsche,Scion,Subaru,Toyota,Volkswagen,Volvo,CarMax,Tesla,Maserati,LeadId
LeadId,,,,,,,,,,,,,,,,,,,,,
816,[FORD],NaN,NaN,NaN,NaN,[],Non-shopper,Non-shopper,Non-shopper,Non-shopper,...,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,816
2345,"[CHEVROLET, HONDA, KIA]",NaN,NaN,NaN,NaN,[],Non-shopper,Non-shopper,Non-shopper,Non-shopper,...,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,2345
6750,[SUBARU],NaN,NaN,NaN,NaN,[],Non-shopper,Non-shopper,Non-shopper,Non-shopper,...,Non-shopper,Non-shopper,Conquest,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,6750
7613,"[ACURA, BMW, CADILLAC, CHRYSLER, DODGE, HONDA,...",NaN,NaN,NaN,NaN,[],Conquest,Non-shopper,Conquest,Non-shopper,...,Conquest,Non-shopper,Conquest,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,7613
7622,[PORSCHE],NaN,NaN,NaN,NaN,[],Non-shopper,Non-shopper,Non-shopper,Non-shopper,...,Conquest,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,Non-shopper,7622